<span us-spinner></span>

<div class="row header full-width">
	<div class="col-xs-12">
		<div class="meta">
			<div class="page">
<!-- 				<img ng-if="!user && studentcourse.product == 'sharefile'" src="img/logo/products/ShareFile-Logo.png"></img> -->
				<img src="img/logo/products/ShareFile-Logo.png"></img>
		   	   	<img ng-if="!user && studentcourse.product == 'shareconnect'" src="img/logo/products/ShareConnect-Logo.png"></img>
		      	<img ng-if="!user && studentcourse.product == 'rightsignature'" src="img/logo/products/RightSignature-Logo.png"></img>
			</div>
		</div>
	</div> 
</div>

<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak ng-controller="ClientLayoutCtrl">

	<div id="sidebar-wrapper">
		<ul class="sidebar">
			<li class="sidebar-main" id="collapser">
				<a ng-click="toggleSidebar()"><span class="menu-icon glyphicon glyphicon-transfer"></span></a>
			</li>
		</ul>
		<div id="profile">
			<img ng-if="user.local.avatarurl" src="{{user.local.avatarurl}}" width="80" class="img-circle">
			<img ng-if="!user.local.avatarurl" src="img/avatar.jpg" class="img-circle">
			<span>{{user.local.firstname}}</span>
		</div>
		<ul class="sidebar">
			<li class="sidebar-list" id="top">
				<a ui-sref="customer-manager.dashboard">Dashboard <span class="menu-icon fa fa-home"></span></a>
			</li>
			<li class="sidebar-list">
				<a ui-sref="customer-manager.profile">Manage Profile <span class="menu-icon fa fa-user"></span></a>
			</li>
			<li class="sidebar-list" id="bottom">
				<a href="#" ng-click="logout()">Logout<span class="menu-icon fa fa-sign-out"></span></a>
			</li>
		</ul>
	</div>

	<div id="content-wrapper">
		<div class="page-content">
			<div ui-view></div>
		</div>
	</div>
</div>

<!-- begin Wootric code -->
<script type="text/javascript">
	wootric_survey_immediately = true; // Shows survey immediately for testing purposes.  TODO: Comment out for production.
	window.wootricSettings = {
		email: 'sujan.abraham@citrix.com',// TODO: The current logged in user's email address.
		created_at: 1234567890, // TODO: The current logged in user's sign-up date as a 10 digit Unix timestamp in seconds.
		account_token: 'NPS-312d184b' // This is your unique account token.
	};
</script>