<div ng-show="fadeBackground">
    <span us-spinner style="position: center" ng-show="showSpinner"></span>
    <div class="loading">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>    
<div ng-hide="fadeBackground">
    <span us-spinner style="position: center" ng-show="showSpinner"></span>
    <div class="col-md-12 client-header client-navbar">
        <img class="client-logo" ng-if="!user && studentcourse.product == 'sharefile'" src="img/logo/products/ShareFile-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'sharefile-presales'" src="img/logo/products/ShareFile-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'shareconnect'" src="img/logo/products/ShareConnect-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'rightsignature'" src="img/logo/products/RightSignature-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'podio'" src="img/logo/products/Podio-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'addoo'" src="img/logo/products/Addoo-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'demo'" src="img/logo/products/ShareFile-Portal-Logo.png" />
        <img class="client-logo" ng-if="!user && studentcourse.product == 'bollo'" src="img/logo/products/Bollo-Portal-Logo.png" />
        <ul class="client-nav">
            <li class="client-heading"><a href="" ng-click="openSupportModal()">Support</a>
            </li>
            <li class="client-heading">
                <a ng-if="studentcourse.product == 'sharefile'" href="https://www.sharefile.com/redirects/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'sharefile-presales'" href="https://www.sharefile.com/redirects/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'podio'" href="https://podio.com/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'shareconnect'" href="https://app.shareconnect.com/members/socialLogin.tmpl?state=initLogin&authProvider=shareFile" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'rightsignature'" href="https://rightsignature.com/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'addoo'" href="https://app.addoo.io/#/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'demo'" href="https://www.sharefile.com/redirects/login" target="_blank">Sign in</a>
                <a ng-if="studentcourse.product == 'bollo'" href="https://podio.com/login" target="_blank">Sign in</a>
            </li>
            <li class="client-heading"><a href="" ng-click="launchWootricNPS('rateus')">Rate us</a></li>
        </ul>
    </div>
    <div class="col-md-7 col-xs-12">
        <div class="customerInformation">
            <h5 class="client-heading" ng-if="studentcourse.studentID.local.clientname"><strong>{{studentcourse.displayProductName}} Quick Start Guide</strong> prepared for: <strong>{{studentcourse.studentID.local.clientname}}</strong></h5>
            <h5 class="client-heading" ng-if="!studentcourse.studentID.local.clientname && studentcourse.studentID.local.firstname"><strong>{{studentcourse.displayProductName}} Quick Start Guide</strong> prepared for: <strong>{{studentcourse.studentID.local.firstname}} {{studentcourse.studentID.local.lastname}}</strong></h5>
            <h5 class="client-heading" ng-if="!studentcourse.studentID.local.clientname && !studentcourse.studentID.local.firstname"><strong>{{studentcourse.displayProductName}} Quick Start Guide</strong> prepared for: <strong>{{studentcourse.studentID.local.email}}</strong></h5>
        </div>

        <div class="client-viewer" ng-if="!video.type || video.type == 'video'">
            <videogular vg-theme="config.theme.url" vg-complete="onCompleteVideo()" vg-player-ready="onPlayerReady($API)" vg-update-state="updateVideoState($state)" vg-update-time="updateVideoTime($currentTime, $duration)" >
                        <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-native-controls="true"></vg-media>
    <!--                     <div class="my-logo-layer">
                            <a href="http://www.google.com" target="_blank"><img src="http://www.videogular.com/img/videogular.png">test test</a>
                        </div>
     -->
            </videogular>
        </div>
        <div class="client-pdf-viewer" ng-if="video.type && video.type == 'document'">
                <h1>{{video.title}}</h1>
                <div class="row" style="padding-bottom:10px">
                    <button ng-click="goPrevious();previousPage()" class="btn btn-navigation" style="float:left">Previous Page</button>
                    <a ng-click="downloadDoc()" class="btn btn-navigation" style="margin-left: 28%; " href="{{video.url}}" target="_blank">Download</a>
                    <button ng-click="goNext();nextPage()" class="btn btn-navigation" style="float:right">Next Page</button>
        <!--             <button ng-click="zoomIn()">+</span></button>
                    <button ng-click="fit()">100%</span></button>
                    <button ng-click="zoomOut()">-</span></button>
         -->
                </div>
                
                <div class="row progress" ng-show="pdfloading">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{loadPercent}}%;">
                    <span class="sr-only">{{loadPercent}}% Complete</span>
                  </div>
                </div>

                <div class="row" ng-show="!pdfloading">
                    <ng-pdf template-url="templates/client/documentviewer.html" scale="page-fit"></ng-pdf>            
                    <div style="overflow:auto">
                        <canvas id="pdf-canvas" class="rotate0"></canvas>
                    </div>
                </div>    
        </div>

        <div class="client-video-description">
            <h2 class="client-heading">{{video.displaytitle ? video.displaytitle : video.title}}</h2>
            <p class="client-heading">{{video.description}}</p>
            <div class="client-feedback">
                <p class="client-heading">Was this video helpful?</p>
                <a href="" ng-click="like(true)"><i class="fa fa-thumbs-up"></i><a>
                <a href="" ng-click="like(false)"><i class="fa fa-thumbs-down"></i></a>
            </div>
        </div>

        <div ng-show="studentcourse.product != 'bollo'"> 
            <h5 class="client-heading" style="margin-top:10px;margin-bottom:10px">Other Products You Might Like</h5>
            <div class="client-crossSell">
                <a href="https://shareconnect.com/" target="_blank" ng-click="trackevent('shareconnect');"><img class="client-crossSellLogo" src="img/logo/products/ShareConnect-Black.png" ng-show="studentcourse.product == 'sharefile' || studentcourse.product == 'rightsignature'"/></a>
                <a href="https://rightsignature.com/" target="_blank" ng-click="trackevent('rightsignature');"><img class="client-crossSellLogo" src="img/logo/products/RightSignature-Black.png" ng-show="studentcourse.product == 'sharefile' || studentcourse.product == 'shareconnect' || studentcourse.product == 'podio'" style="padding-left:10px"/></a>
                <a href="https://sharefile.com/" target="_blank" ng-click="trackevent('sharefile');"><img class="client-crossSellLogo" src="img/logo/products/ShareFile-Black.png" ng-show="studentcourse.product == 'rightsignature' || studentcourse.product == 'shareconnect' || studentcourse.product == 'podio'" style="padding-left:10px"/></a>
            </div>
        </div>


    </div>
    <div class="col-md-4 col-xs-12">
        <div class="promotedVideo hidden-xs hidden-sm" ng-show="connectorPromo">
            <div>
                <a href="" ng-click="playSCConnector()">
                    <span></span>
                    <img src="../img/client/videoStill.png">
                </a>
            </div>    
            <h3>Win an Apple TV!</h3>
            <blockquote class="client-blockquote"><p>ShareConnect Connector is the easist way to access your files on the go. Watch this video to learn more about accessing your files on the go and to be entered for a chance to win an Apple TV.<br>
            <ul>
                <li><a href="http://addoo.io/wp-content/uploads/2016/05/SWEEPSTAKES_RULES_ShareConnect_Connector_Contest.pdf" class="client-hyperlink" target="_blank">Contest Rules</a></li>
            </ul>
            </blockquote>
        </div>

        <div class="promotedVideo hidden-xs hidden-sm" ng-show="showSFPromotedVideo">
            <div>
                <a href="" ng-click="playSFPromotedVideo()">
                    <span></span>
                    <img src="../img/client/videoStill.png">
                </a>
            </div>    
            <h5>New! Feedback and Approval Workflows from ShareFile</h5>
            <blockquote class="client-blockquote"><p>Document Approval Workflow is the newest feature from ShareFile. This new Beta feature allows you to collect feedback and approvals on your most important documents from clients, colleagues and more. See how it works in this brief video.<br>
            </blockquote>
        </div>

        <div class="customer-success hidden-xs hidden-sm" ng-show="!studentcourse.onboardingSpecialist && !connectorPromo && !loading && !showSFPromotedVideo">
            <img src="img/people/customer-success.png">
            <blockquote class="client-blockquote">
                <p>You can click the support link in the upper right corner to join a live training anytime. Also, if you need more help getting started, feel free to <a href="mailto:customersuccess@sharefile.com" target="_top">reach out to my team</a> and we'll be happy to help.</p>
                <cite title="Source Title">Kelley Allen, Manager Customer Success</cite>
            </blockquote>
        </div>
        <div class="customer-success hidden-xs hidden-sm" ng-show="studentcourse.onboardingSpecialist && !connectorPromo">
            <img class="img-circle" ng-if="!studentcourse.onboardingSpecialist.local.avatarurl" src="img/avatar.jpg" alt="people"></img>
            <img class="img-circle" ng-if="studentcourse.onboardingSpecialist.local.avatarurl" src="{{studentcourse.onboardingSpecialist.local.avatarurl}}" alt="people"></img>
            <blockquote class="client-blockquote">
                <h4 class="text-warning">Still need help?</h4>
                <p ng-if="studentcourse.onboardingSpecialist">Your care representative is <b>{{studentcourse.onboardingSpecialist.local.firstname}} {{studentcourse.onboardingSpecialist.local.lastname}}</b>.Click the link below to view your care representative's schedule and book a training.</p>
                <p style="margin-bottom:40px"><a class="btn client-btn-success" href="{{studentcourse.onboardingSpecialist.local.timetrade}}" ng-click="sendEvent('TimeTrade Clicked')" target="_blank" style="float:right">Schedule</a></p>
            </blockquote>
        </div>

        <h5 id="playlistHeader" class="client-heading" style="margin-top:10px;margin-bottom:10px">Other Videos</h5>
        <div class="client-playlist">
            <ul class="client-playlistItem">
                <li class="client-heading client-other-videos" ng-repeat="nextvideo in studentcourse.courseID.contents" ng-show="nextvideo.videoID != video._id">
                    <div class="videos">
                        <a href="" ng-click="playVideo($index)" class="video">
                            <span ng-show="showPlayBtn"></span>
                            <img class="other-videos-poster" ng-show="!nextvideo.posterurl" src="img/icons/posters/ShareFile-Default-Poster.png" alt="{{nextvideo.title}}" />
                            <img class="other-videos-poster" ng-show="nextvideo.posterurl" src="{{nextvideo.posterurl}}" alt="{{nextvideo.title}}" />
                        </a>
                    </div>    
                    <div class="video-details">
                        <h5><a href="" ng-click="playVideo($index)">{{nextvideo.displaytitle ? nextvideo.displaytitle : nextvideo.title}}</a></h5>
                        <p>{{nextvideo.duration}} <i title="Watched" class="fa fa-eye text-success" ng-if="nextvideo.progress == 'complete'" color="green"></i></p>
                        <p>Product : {{nextvideo.displayProductName}} 
                    </div>
                </li>
            </ul>
        </div>

        <h5 id="playlistHeader" class="client-heading" ng-show="studentcourse.courseID.documents && studentcourse.courseID.documents.length>0">Documents</h5>
        <div class="client-playlist" ng-show="studentcourse.courseID.documents && studentcourse.courseID.documents.length > 0">
            <ul class="client-playlistItem">
                <li class="client-heading client-other-videos" ng-repeat="nextvideo in studentcourse.courseID.documents" ng-show="nextvideo.videoID != video._id">
                    <div class="videos">
                        <a href="" ng-click="showDoc($index)" class="video">
                            <img class="other-videos-poster" ng-show="!nextvideo.posterurl" src="img/icons/posters/ShareFile-Default-Poster.png" alt="{{nextvideo.title}}" />
                            <img class="other-videos-poster" ng-show="nextvideo.posterurl" src="{{nextvideo.posterurl}}" alt="{{nextvideo.title}}" />
                        </a>
                    </div>    
                    <div class="video-details">
                        <h5><a href="" ng-click="showDoc($index)">{{nextvideo.displaytitle ? nextvideo.displaytitle : nextvideo.title}}</a></h5>
                        <p>{{nextvideo.duration}} <i title="Watched" class="fa fa-eye text-success" ng-if="nextvideo.progress == 'complete'" color="green"></i></p>
                        <p>Product : {{nextvideo.displayProductName}} 
                    </div>
                </li>
            </ul>
        </div>


        <div class="customer-success hidden-xs hidden-sm" ng-show="!studentcourse.onboardingSpecialist && connectorPromo">
            <img src="img/people/customer-success.png">
            <blockquote class="client-blockquote">
                <p>You can click the support link in the upper right corner to join a live training anytime. Also, if you need more help getting started, feel free to <a href="mailto:customersuccess@sharefile.com" target="_top">reach out to my team</a> and we'll be happy to help.</p>
                <cite title="Source Title">Kelley Allen, Manager Customer Success</cite>
            </blockquote>
        </div>
        <div class="customer-success hidden-xs hidden-sm" ng-show="studentcourse.onboardingSpecialist && connectorPromo">
            <img class="img-circle" ng-if="!studentcourse.onboardingSpecialist.local.avatarurl" src="img/avatar.jpg" alt="people"></img>
            <img class="img-circle" ng-if="studentcourse.onboardingSpecialist.local.avatarurl" src="{{studentcourse.onboardingSpecialist.local.avatarurl}}" alt="people"></img>
            <blockquote class="client-blockquote">
                <h4 class="text-warning">Still need help?</h4>
                <p ng-if="studentcourse.onboardingSpecialist">Your care representative is <b>{{studentcourse.onboardingSpecialist.local.firstname}} {{studentcourse.onboardingSpecialist.local.lastname}}</b>.Click the link below to view your care representative's schedule and book a training.</p>
                <p style="margin-bottom:40px"><a class="btn client-btn-success" href="{{studentcourse.onboardingSpecialist.local.timetrade}}" ng-click="sendEvent('TimeTrade Clicked')" target="_blank" style="float:right">Schedule</a></p>
            </blockquote>
        </div>


        <div class="client-referCoWorker">
            <h5 class="client-heading">Add a team member.</h5>
            <p>Have co-workers who will be using {{studentcourse.displayProductName}}? Enter their e-mail to add them to your training portal.</p>
            <div growl inline="true"></div>
            <input type="text" name="coworkeremail" ng-model="coworker.email" />
            <button class="client-btn client-btn-success" ng-click="addCoworker();sendEvent('Coworker Added')">Add</button>
        </div>
    </div>

<!--     <div class="col-md-12 feedback">
        <a class="btn btn-success" href="" ng-click="launchWootricNPS()">Rate us</a> 
    </div>
 -->

    <div class="col-md-12 client-footer">
        <a href="http://addoo.io/wp-content/uploads/2016/01/Innovation-TOS-2015.v1.pdf" class="client-hyperlink">Terms of Service</a> 
        <a href="http://addoo.io/wp-content/uploads/2016/01/Innovation-Privacy-Policy-2015-v2.FINAL_.pdf" class="client-hyperlink">Privacy Policy</a>
    </div>
</div>