

<!-- <div class="row" ng-controller="AnnouncementCtrl">
	<div class="col-sm-9 col-md-9">
		<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×</button>
				<span class="glyphicon glyphicon-info-sign"></span> <strong>What's new</strong>
				<hr class="message-inner-separator">
				<div ng-repeat="announcement in announcements">
					<p>{{announcement.description}}</p>
					<ul ng-repeat="msg in announcement.messages">
						<li>{{msg.message}}</li>
					</ul>
				</div>
		</div>
	</div>
</div>
 -->
<div class="row" ng-controller="DashboardStatsCtrl" style="margin-top:140px">
	<div class="action-display col-lg-4 col-md-6 col-xs-12" ng-show="!loading">
		<canvas id="line" class="chart chart-line" chart-data="data"
		  chart-labels="labels" chart-legend="true" chart-series="series"
		  chart-click="onClick">
		</canvas>
	</div>
	<div class="action-display col-lg-4 col-md-6 col-xs-12">
		Addoo Weekly Leaderboard
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Tracks</td>
				</tr>
			</thead>
			<tr ng-repeat="row in topfiveusers">
				<td ng-style="row.author == auth.user._id && {'font-weight':'bold'}">{{row.username}}</td>
				<td ng-style="row.author == auth.user._id && {'font-weight':'bold'}">{{row.count}}</td>
			</tr>
		</table>

	</div>

</div>


<div class="row">
	<div class="table-container ad-widget-override">
		<rd-widget>
			<rd-widget-header title="Base Tracks">
				<a ui-sref="customer-manager.trackbuilder" type="button" class="btn btn-warning" style="float:right">Create New Track</a>
			</rd-widget-header>
			<div ng-show="loading" class="loading">
				<div class="spinner">
					<div class="dot1"></div>
					<div class="dot2"></div>
				</div>
			</div>
			<table class="table table-striped" st-table="displayedCourseCollection" st-safe-src="courses" ng-show="!loading">
				<thead>
					<tr class="search-row">
						<th colspan="2"><input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" /></th>
					</tr>
					<tr>
						<th class="header" st-sort="title">Track<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="fullname">Owner<i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedCourseCollection">
						<td><a ui-sref="customer-manager.trackbuilder({courseID: '{{row._id}}'})">{{row.title}}</a></td>
						<td>{{row.fullname}}</td>
					</tr>
					<tr ng-if="displayedCourseCollection && displayedCourseCollection.length == 0">
						<td colspan="2" align="center">You can mark a track as base track during creation of a track or click on any of the active tracks to mark it as a base track.</td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</rd-widget>
	</div>
</div>
<div class="row" ng-controller="DashboardTracksCtrl">
	<div class="table-container ad-widget-override">
		<rd-widget>
			<rd-widget-header title="Active Tracks"></rd-widget-header>
			<div ng-show="loading" class="loading">
				<div class="spinner">
					<div class="dot1"></div>
					<div class="dot2"></div>
				</div>
			</div>
			<table class="table table-striped" st-table="displayedStudentCourseCollection" st-safe-src="studentcourses" ng-show="!loading">
				<thead>
					<tr class="search-row">
						<th colspan="6"><input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" /></th>
					</tr>
					<tr>
						<th class="header" st-sort="title">Track<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="email">Client<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="authorname">Created By<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="invitedOn">Created On<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="coursestatus">Status<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="courseprogress">Progress<i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					<!-- This comment needs to be removed -->
					<tr ng-repeat="row in displayedStudentCourseCollection">
						<td>
							<a ui-sref="customer-manager.trackbuilder({courseID: '{{row.courseID._id}}'})">{{row.title}}</a>
							<i class="fa fa-pencil ad-icon ad-action ad-secondary ad-float-right" ui-sref="customer-manager.trackbuilder({courseID: '{{row.courseID._id}}'})" uib-popover="Edit this track" popover-trigger="mouseenter" popover-placement="top" ng-show="row.author._id === auth.user._id"></i>
						</td>
						<td>{{row.email}}</td>
						<td>{{row.authorname}}</td>
						<td> <span am-time-ago="row.invitedOn"></span></td>
						<td>{{row.coursestatus}}</td>
						<td>
							<div class="progress" style="width:100%">
								<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{row.courseprogress}}%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
			<rd-widget>
	</div>
</div>
