<div id="page-title">Dashboard</div>

<div class="row">
    <div class="action-display col-lg-4 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="title">Track Builder</div>
                <div class="comment">Build customer learning tracks</div>
                <div><i class="fa fa-plus"></i></div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="action-display col-lg-4 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="title">Add Videos</div>
                <div class="comment">Add videos for customers</div>
                <div><i class="fa fa-plus"></i></div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="action-display col-lg-4 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="title">Add Documents</div>
                <div class="comment">Add documents for customers</div>
                <div><i class="fa fa-plus"></i></div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>

<div class="row">
    <div class="table-container">
        <rd-widget>
            <rd-widget-header title="Base Tracks"></rd-widget-header>
            <rd-widget-body classes="medium no-padding"></rd-widget-body>
        </rd-widget>
    </div>
</div>
<div class="row">
    <div class="table-container">
        <rd-widget>
            <rd-widget-header title="Active Tracks">
                <input type="text" placeholder="Search" class="form-control input-sm" />
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding"></rd-widget-body>
            <rd-widget>
    </div>
</div>