<div id="page-top" class="panel addoo-shadow">
	<div class="row" ng-controller="DashboardStatsCtrl" style="padding:10px 15px;" ng-show="!loading || topvideos.length > 0">
		<div id="team-tracks-chart" class="col-lg-4 col-md-6 col-xs-12" ng-show="!loading">
			<canvas id="line" class="chart chart-line" style="padding-right:20px;" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12" ng-show="!loading">
			<div class="weekly-title">Addoo Weekly Leaderboard</div>
			<table class="table table-striped weekly-ranking-table">
				<thead>
					<tr>
						<th class="header">Position</th>
						<th class="header">Name</th>
						<th class="header">Tracks</th>
					</tr>
				</thead>
				<tr class="ranking-row" ng-repeat="row in topfiveusers">
					<td class="rep-position"><i class="fa fa-trophy" ng-show="[$index] <= 2"></i></td>
					<td>{{row.username}}</td>
					<td>{{row.count}}</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12" ng-show="topvideos.length > 0">
			<div class="weekly-title">Top Videos</div>
			<table class="table table-striped weekly-ranking-table">
				<thead>
					<tr>
						<th class="header">Title</th>
						<th class="header">Count</th>
					</tr>
				</thead>
				<tr class="ranking-row" ng-repeat="row in topvideos" ng-if="row.completedCount > 0">
					<td>{{row.title}}</td>
					<td>{{row.completedCount}}</td>
				</tr>
			</table>
		</div>

	</div>
</div>

<div class="row">
	<div class="table-container addoo-widget-override">
		<rd-widget>
			<rd-widget-header title="Base Tracks">
				<a ui-sref="customer-manager.trackbuilder" type="button" class="btn btn-warning" style="float:right">Create New Track</a>
			</rd-widget-header>

			<div ng-show="loading" class="loading">
				<div class="spinner">
					<div class="dot1"></div>
					<div class="dot2"></div>
				</div>
			</div>

			<table class="table table-striped" st-table="displayedCourseCollection" st-safe-src="courses" ng-show="!loading">
				<thead>
					<tr class="search-row">
						<th colspan="2"><input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" /></th>
					</tr>
					<tr>
						<th class="header" st-sort="title">Track<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="fullname">Owner<i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedCourseCollection" ng-show="row.isActive === true">
						<td>
							<a ui-sref="customer-manager.build({courseID: '{{row._id}}'})">{{row.title}}</a>
						</td>
						<td>{{row.fullname}}</td>
					</tr>
					<tr ng-if="displayedCourseCollection && displayedCourseCollection.length == 0">
						<td colspan="2" align="center">You can mark a track as base track during creation of a track or click on any of the active tracks to mark it as a base track.</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>

		</rd-widget>
	</div>
</div>

<div class="row" ng-controller="DashboardTracksCtrl">
	<div class="table-container addoo-widget-override">
		<rd-widget>
			<rd-widget-header title="Active Tracks"></rd-widget-header>
			<table class="table table-striped" st-table="displayedStudentCourseCollection" st-safe-src="studentcourses">
				<thead>
					<tr class="search-row">
 						<th colspan="6"><input class="form-control search" ng-model="searchText" ng-change="search(searchText)" placeholder="Enter text to start searching..." type="text" /></th>
 							<!-- <th colspan="6"><input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" /></th>
 -->
					</tr>
					<tr>
						<th class="header" st-sort="title">Track<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="email">Client<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="email">Client Name<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="authorname">Created By<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="invitedOn">Created On<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="coursestatus">Status<i class="fa fa-sort"></i></th>
						<th class="header" st-sort="courseprogress">Progress<i class="fa fa-sort"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="loading">
						<td colspan="7">
							<div class="loading">
								<div class="spinner">
									<div class="dot1"></div>
									<div class="dot2"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr ng-repeat="row in displayedStudentCourseCollection" ng-show="!loading">
						<td>
							<a ui-sref="customer-manager.trackbuilder({studentCourseID: '{{row._id}}'})">{{row.title}}</a>
							<i class="fa fa-pencil addoo-icon addoo-action addoo-secondary addoo-float-right" style="margin-top:3px;" ui-sref="customer-manager.trackbuilder({studentCourseID: '{{row._id}}'})" uib-popover="Edit this track" popover-trigger="mouseenter" popover-placement="top" ng-show="row.author._id === auth.user._id"></i>
						</td>
						<td>{{row.email}}</td>
						<td style="text-transform:capitalize;">{{row.name}}</td>
						<td>{{row.authorname}}</td>
						<td> <span am-time-ago="row.invitedOn"></span></td>
						<td style="text-transform:capitalize;">{{row.progress}}</td>
						<td>
							<div class="progress" style="width:100%">
								<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{row.progresspercent}}%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		<rd-widget>
	</div>
</div>
