<!-- Header Bar -->
<div class="row header full-width">
    <div class="col-xs-12">
        <div class="meta">
            <div class="page">
                Dashboard
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->

<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main" id="collapser">
                <a ng-click="toggleSidebar()"> Dashboard <span class="menu-icon glyphicon glyphicon-transfer"></span></a>
            </li>
        </ul>
        <div id="profile">
            <img src="http://findicons.com/files/icons/1072/face_avatars/300/i04.png" class="img-thumbnail img-responsive img-circle" width="100" height="100">
            <span>Thomas</span>
        </div>
        <ul class="sidebar">
            <li class="sidebar-list" id="top">
                <a href="#">Dashboard <span class="menu-icon fa fa-home"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/trackbuilder">Trackbuilder <span class="menu-icon fa fa-list"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#/clientdashboard">Client Dashboard <span class="menu-icon fa fa-graduation-cap"></span></a>
            </li>
            <li class="sidebar-list" id="bottom">
                <a href="#/logout">Logout<span class="menu-icon fa fa-sign-out"></span></a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Main Content -->
            <div ui-view></div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->