<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
      <span style="font-size: 16px; background-color: #F3F5F6; padding: 0 10px;">
        Tracks Performance
      </span>
    </div>
    <div class="panel-body">
           <div class="row">
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 rep-tile_stats_count">
               <div class="left"></div>
               <div class="right">
                  <span class="count_top"><i class="fa fa-user"></i> Total Tracks</span>
                  <div class="rep-count">{{report.totalTracks}}</div>
<!--                   <span class="count_bottom"><i class="rep-green">0% </i> From last Week</span>
 -->               </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 rep-tile_stats_count">
               <div class="left"></div>
               <div class="right">
                  <span class="count_top"><i class="fa fa-clock-o"></i> Total Viewed</span>
                  <div class="rep-count">{{report.tracksViewed}}</div>
<!--                   <span class="count_bottom"><i class="rep-green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
 -->               </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 rep-tile_stats_count">
               <div class="left"></div>
               <div class="right">
                  <span class="count_top"><i class="fa fa-clock-o"></i> Total Started</span>
                  <div class="rep-count">{{report.tracksStarted}}</div>
<!--                   <span class="count_bottom"><i class="rep-green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
 -->               </div>
            </div>
            <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 rep-tile_stats_count">
               <div class="left"></div>
               <div class="right">
                  <span class="count_top"><i class="fa fa-user"></i> Total Completed</span>
                  <div class="rep-count rep-green">{{report.tracksCompleted}}</div>
<!--                   <span class="count_bottom"><i class="rep-green"><i class="fa fa-sort-asc"></i>0% </i> From last Week</span>
 -->               </div>
            </div>
         </div>
    </div>
  </div>
</div>  


<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
      <span style="font-size: 16px; background-color: #F3F5F6; padding: 0 10px;">
        Custom Tracks Performance
      </span>
    </div>
    <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>

    </div>  
  </div>
</div>    

<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
      <span style="font-size: 16px; background-color: #F3F5F6; padding: 0 10px;">
        Video Completion trends
      </span>
    </div>
    <div class="panel-body">
        <canvas id="line" class="chart chart-line" chart-data="videoPositionData" chart-labels="videoPositionLabels" chart-legend="true" chart-series="videoPositionSeries" chart-click="onClick"></canvas> 
    </div>
  </div>
</div>      

 <div class="row">
    <div class="col-md-6 col-sm-4 col-xs-12">
       <div class="x_panel tile fixed_height_320">
          <div class="x_title">
             <h2>Top Videos</h2>
             <div class="clearfix"></div>
          </div>
          <table class="table table-striped weekly-ranking-table">
             <thead>
                <tr>
                   <th class="header">Title</th>
                   <th class="header">Count</th>
                </tr>
             </thead>
             <tr class="ranking-row" ng-repeat="row in topvideos" ng-if="row.completedCount > 0">
                <td>{{row.title}}</td>
                <td>{{row.completedCount}}</td>
             </tr>
          </table>
       </div>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
       <div class="x_panel tile fixed_height_320">
          <div class="x_title">
             <h2>Monthly Tracks</h2>
             <div class="clearfix"></div>
          </div>
          <div class="x_content">
             <canvas id="bar" class="chart chart-bar" chart-data="monthlyTracksData" chart-labels="monthlyTracksLabels" style="padding-bottom:80px;"> chart-series="monthlyTracksSeries"
             </canvas>
          </div>
       </div>
    </div>
 </div>
