<div class="signup col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
   <div class="wrapper" ng-show="!invitationCode">
        <form class="form-signup" role="form" ng-submit="signUp()">
          <div growl inline="true"></div>
            <p style="text-align:center;"> <img src="img/Addo-logo1.png" height="96" width="250"></img></p>
            <h2>Create your account <!-- <small>It's free..</small> --></h2>
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="user.firstname" ng-required="true" tabindex="1">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="user.lastname" ng-required="true" tabindex="2">
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="3" ng-model="user.email" ng-required="true" tabindex="3">
            </div>
			<div class="form-group">
				<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="4" ng-model="user.password" ng-required="true" tabindex="4">
			</div>
            <div class="form-group">
                <select class="form-control" ng-model="user.pdt" ng-required="true" tabindex="5">
                  <option value="">Select your product</option>
                  <option value="sharefile">ShareFile</option>
                  <option value="sharefile-presales">ShareFile PreSales</option>
                  <option value="sharefile-lifecycle">ShareFile LifeCycle</option>
                  <option value="shareconnect">ShareConnect</option>
                  <option value="rightsignature">RightSignature</option>
                  <option value="podio">Podio</option>
                  <option value="podio-postsales">Podio-PostSales</option>
                </select>  
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="user.role" ng-required="true" tabindex="6">
                  <option value="">Select your role</option>
                  <option value="customer-manager">Customer Manager</option>
                  <option value="customer-onboarding-specialist">Onboarding Specialist</option>
                  <option value="sales">Sales</option>
                </select>  
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div id="button" class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-lg btn-warning btn-block" data-loading-text="><i class=icon-spinner></i>" tabindex="7"></div>
           </div>
        </form>
    </div>
       <div class="wrapper" ng-show="invitationCode">
        <form class="form-signup" role="form" ng-submit="signUp()" name="signupform">
          <div growl inline="true"></div>
            <p style="text-align:center;"> <img src="img/Addo-logo1.png" height="96" width="250"></img></p>
            <h2>Create your account <!-- <small>It's free..</small> --></h2>
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="user.firstname" ng-required="true" tabindex="1">
            </div>
            <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="user.lastname" ng-required="true" tabindex="2">
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="3" ng-model="user.email" ng-required="true" tabindex="3" ng-readonly="user.email">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="4" ng-model="user.password" ng-required="true" tabindex="4" ng-change="analyze(user.password)">
            </div>
            <div class="form-group" ng-show="passwordStrengthMessage">
              <label>Password Strength</label>
              <div ng-style="passwordStrength">{{passwordStrengthMessage}}</div>
            </div>

            <div id="terms-agreements-links">
              By registering, you are agreeing to our <a href="http://addoo.io/wp-content/uploads/2016/01/Innovation-TOS-2015.v1.pdf" target="_blank">Terms of Service</a> and <a href="http://addoo.io/wp-content/uploads/2016/01/Innovation-Privacy-Policy-2015-v2.FINAL_.pdf" target="_blank">Privacy Policy</a>.
            </div>

            <div class="row">
                <div id="button" class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-lg btn-warning btn-block" data-loading-text="><i class=icon-spinner></i>" tabindex="7"></div>
           </div>
        </form>
    </div>

</div>
