<span us-spinner style="position: center"></span>
<div id="page-title">Track Builder</div>

<div growl inline="true"></div>

<div id="track-builder" ng-show="showtrackbuilder">

    <div class="row">
        <div class="content-addition col-sm-2">
            <div class="description">
                <p>Add Video</p>
            </div>
            <div class="link-button">
                <a href="" ng-click="openVideoListModal()"><i class="fa fa-fw fa-plus"></i></a>
            </div>
        </div>
        <div class="content-addition col-sm-2" ng-show="(user._id == course.author || course.author._id)">
            <div class="description">
                <p>Base Track</p>
            </div>
            <div class="checkbox">
                <input type="checkbox" ng-model="course.baseTrack" ng-change="baseTrack()">
            </div>
        </div>
        <div class="content-addition col-sm-2" ng-show="user.role != 'sales' && (user._id == course.author || course.author._id)">
            <div class="description">
                <p>Share with Team</p>
            </div>
            <div class="checkbox">
                <input type="checkbox" ng-model="course.shareWithTeam" ng-change="baseTrack()">
            </div>
        </div>
    </div>

	<div class="row">
		<div id="current-track" class="col-sm-9">
			<div class="sub-title">
				Current Track:
				<span id="course-name" ng-blur="resetTextOfElement($event)" ng-keypress="submitTitleChangeRequest($event)" uib-popover="Begin typing to change the track title. Press Enter to save your title change." popover-trigger="focus" popover-placement="top" contenteditable="false">{{course.title}}</span>
				<i id="course-name-edit" class="fa fa-pencil addoo-icon addoo-action addoo-secondary" ng-click="shiftFocusToEdit($event)" ng-show="(user._id == course.author || course.author._id)" style="margin-left:15px;"></i>
			</div>
			<button class="addoo-button addoo-red addoo-sm addoo-float-right" style="margin-right:15px; margin-bottom:5px;" uib-popover="Delete this entire track." popover-trigger="mouseenter" popover-placement="bottom" ng-show="course.baseTrack === true" ng-click="openDeleteDecisionDialogue()">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
			<button class="addoo-button addoo-orange addoo-sm addoo-float-right" style="margin-right:5px; margin-bottom:5px;" uib-popover="Duplicate this track." popover-trigger="mouseenter" popover-placement="bottom" ng-click="createDuplicateTrack()">
				<span class="fa fa-copy"></span>
			</button>
			<div class="panel panel-default paper-shadow addoo-cleared addoo-both" data-z="0.5">
				<p ng-if="!course.contents || course.contents.length == 0">No tracks added..</p>
				<table ui-tree="tableCallbacks" class="table table-responsive">
					<tbody class="drag-list" ui-tree-nodes ng-model="course.contents">
						<tr ng-repeat="content in course.contents" ui-tree-node>
							<td scope="row"><i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i></td>
							<td>{{content.title}} 
                                <i class="fa fa-eye text-success" ng-if="content.progress == 'complete'" color="green"></i>
                                <i class="fa fa-eye-slash text-warning" ng-if="content.progress != 'complete' && showprogress"></i>
                            </td>
							<td class="addoo-button-container addoo-sm">
								<button class="addoo-button addoo-blue addoo-sm addoo-float-right" ng-click="openVideoPreviewModal(content)"><span class="glyphicon glyphicon-play"></span></button>
							</td>
							<td class="addoo-button-container addoo-sm" ng-show="user._id == course.author || user._id == course.author._id">
								<button class="addoo-button addoo-red addoo-sm addoo-float-right" data-title="Delete" ng-click="deleteTrack($index)"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="addoo-widget-override-2">
			<rd-widget id="client-addition" class="col-sm-3">
				<rd-widget-header title="Clients"></rd-widget-header>
				<table class="table table-striped" st-table="displayedStudentCourseCollection" st-safe-src="studentcourses">
					<thead class="addoo-border addoo-none">
						<tr class="search-row">
							<th class="addoo-border addoo-no-bottom" colspan="2">
								<input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" />
							</th>
						</tr>
						<tr>
							<th class="header addoo-border addoo-no-bottom" st-sort="inviteurl">Client<i class="fa fa-sort"></i></th>
							<th class="header addoo-border addoo-no-bottom" st-sort="fullname">Link<i class="fa fa-sort"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{studentcourse.email}}</td>
								<input type="hidden" ng-model="studentcourse.inviteurl">
							<td>
								<a ng-if="studentcourse.email" clipboard text="studentcourse.inviteurl" href="" class="text-warning" on-copied="showMessage()" on-error="fail(err)">Copy invite link</a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div st-pagination="" st-items-by-page="6" st-displayed-pages="7"></div>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="panel-footer" ng-if="!studentcourses || studentcourses.length == 0">
					<button class="addoo-button addoo-orange addoo-md" ng-click="openClientModal()">Add Client</button>
				</div>
			</rd-widget>
		</div>
    </div>

    <div class="modal fade" id="modal-edit-document-module" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Document Module</h4>
                    <div growl inline="true"></div>
                </div>
                <div class="modal-body">
                    <table ng-table="tableParams" class="table table table-condensed table-bordered table-striped" show-filter="true">
                        <tr ng-repeat="doc in $data | filter:{type: 'document'}">
                            <td title="'Select'">
                                <input id="checkbox3" type="checkbox" ng-model="doc.selected" ng-change="addVideoToQueue(doc.selected,doc)">
                            </td>
                            <td title="'#'" sortable="'#'">
                                {{$index +1 }}
                            </td>
                            <td title="'Name'" sortable="'name'">
                                {{doc.title}}
                            </td>
                            <td title="'Uploaded on'" sortable="'createdOn'">
                                <span am-time-ago="doc.createdOn"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="addVideoToTrack('document')">Add to track</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="!showtrackbuilder">
    <div class="panel-body">
        <form name="myForm" ng-submit="addTrack()">
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Title</label>
                <div class="form-control-material">
                    <input type="text" class="form-control" id="course.title" placeholder="Type here.." ng-required="true" ng-model="course.title"><span class="ma-form-highlight" required></span><span class="ma-form-bar"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <div class="form-control-material">
                    <textarea id="description" class="form-control" rows="5" ng-model="course.description"></textarea><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>