<div class="upload-wrap">
    <button class="btn btn-primary" type="button">
        <span ng-if="!filename">Choose file</span>
        <span ng-if="filename">Replace file</span>
    </button>
    <a ng-href="{{ filename }}" target="_blank" ng-if="filename">Stored file</a>
    <div class="progress" style="margin-top: 10px;" ng-show="attempt">
<!--         <div class="progress" ng-class="{active: uploading, 'bar-success': isUploadSuccessful()}"> -->
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                {{progress}}% Complete
            </div>
<!--         </div> -->
    </div>
    <input type="file" class="hidden" />
</div>