<div class="page-section profile third">
    <div class="tabbable paper-shadow relative" data-z="0.5">

        <ul class="nav nav-tabs">
            <li>
            	<i class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Products</span>
            	<span><a ui-sref="customer-manager.createproduct">Create New</a></span>
            </li>
        </ul>		
		<div class="panel panel-default paper-shadow tab-content">
			<div growl inline="true"></div>
			<table class="table table-striped" st-table="displayProducts" st-safe-src="products" ng-show="!loading">
				<thead>
					<tr class="search-row">
						<th colspan="6"><input class="form-control search" st-search="" placeholder="Enter text to start searching..." type="text" /></th>
					</tr>
					<tr>
						<th class="header" st-sort="email">Name<i class="fa fa-sort"></i></th>
						<th class="header">Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayProducts">
						<td>{{row.displayName}}</td>
						<td><a ui-sref="customer-manager.editproduct({productID: '{{row._id}}'})">Edit</a></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>
			</table>

		</div>
    </div>
</div>