#page-title {
	margin: 0 15px 40px;
	font-size: 40px;
}

.table-container {
	margin: 5px 15px 20px 15px;

	table {

		&.table {
			margin: 0;

			td + td {
				border-left: 1px solid #DDDDDD;
			}

			tbody {

				tr {

					td {
						vertical-align: middle;
					}
				}
			}
		}
	}

	.form-control {

		&.search {
			height: 40px;
			font-weight: normal;
			border: none;
			background-color: #F7F7F7;

			&:focus {
				height: 40px;
				background-color: #FFFFFF;
			}
		}
	}
}

.table-container {

	table {

		thead {

			tr {

				&.search-row {
					th {
						border: none;
					}
				}

				th {
					&.header {
						font-size: 18px;
						text-align: center;
						border-bottom: 1px solid #DDDDDD;

						i {
							margin-left: 5px;

							&:hover {
								cursor: pointer;
								color: #DFDFDF;
							}
						}

						+ th {
							border-left: 1px solid #DDDDDD;
						}
					}
				}
			}
		}

		&.table {
			.progress {
				margin: 0;
			}
		}
	}
}

.table-container table.table tbody tr td {
	padding: 12px 8px;
}

.weekly-ranking-table {

	.ranking-row {

		&:nth-child(1) {

			.rep-position {
				font-size: 18px;
				color: #D9A441;
			}
		}

		&:nth-child(2) {
			.rep-position {
				font-size: 18px;
				color: #A8A8A8;
			}
		}

		&:nth-child(3) {
			.rep-position {
				font-size: 18px;
				color: #965A38;
			}
		}
	}
}

.weekly-title {
	margin: 10px 5px 5px 5px;
	font-size: 20px;
}
