<div class="row">
   <div class="panel panel-default">
      <div class="panel-heading">
        <span style="font-size: 16px; background-color: #F3F5F6; padding: 0 10px;">
         Accounts Usage
        </span>
      </div>
      <div class="panel-body">
         <div class="col-sm-12">
            <table class='table borderless' st-table="displayedFeatureonboarding" st-safe-src="featureonboarding">
               <thead class="thead-inverse">
                  <tr>
                     <th st-sort="name">Name</th>
                     <th st-sort="createdOn">Created On</th>
                     <th st-sort="status">Status</th>
                     <th st-sort="viewedBy">Message Auto Seen</th>
                     <th st-sort="viewedBy">Message Seen</th>
                     <th st-sort="clickedBy">Feature Viewed</th>
                     <th st-sort="watchedBy">Started</th>
                     <th st-sort="watchedBy">Completed</th>
                     <th st-sort="watchedBy">Dismissed</th>
                  </tr>
               </thead>
               <tr ng-repeat="row in displayedFeatureonboarding">
                  <td>{{row.name}}</td>
                  <td><span am-time-ago="row.createdOn"></span></td>
                  <td style="text-transform: capitalize;">{{row.status}}</td>
                  <td>{{row.feature.messageAutoShown}}</td>
                  <td>{{row.feature.messageViewedBy}}</td>
                  <td>{{row.feature.featureViewedBy}}</td>
                  <td>{{row.feature.startedBy}}</td>
                  <td>{{row.feature.completedBy}}</td>
                  <td>{{row.feature.dismissedBy}}</td>
                  <td><a ui-sref="admin.featureusage">View</a></td>
               </tr>
            </table>
         </div>   
   </div>   
</div>
<div class="row">
   <div class="panel panel-default">
      <div class="panel-heading">
        <span style="font-size: 16px; background-color: #F3F5F6; padding: 0 10px;">
         Users Usage
        </span>
      </div>
      <div class="panel-body">
         <div class="col-sm-12">
            <table class='table borderless' st-table="displayedFeatureonboarding" st-safe-src="featureonboarding">
               <thead class="thead-inverse">
                  <tr>
                     <th st-sort="name">Name</th>
                     <th st-sort="createdOn">Created On</th>
                     <th st-sort="status">Status</th>
                     <th st-sort="viewedBy">Message Auto Seen</th>
                     <th st-sort="viewedBy">Message Seen</th>
                     <th st-sort="clickedBy">Feature Viewed</th>
                     <th st-sort="watchedBy">Started</th>
                     <th st-sort="watchedBy">Completed</th>
                     <th st-sort="watchedBy">Dismissed</th>
                  </tr>
               </thead>
               <tr ng-repeat="row in displayedFeatureonboarding">
                  <td>{{row.name}}</td>
                  <td><span am-time-ago="row.createdOn"></span></td>
                  <td style="text-transform: capitalize;">{{row.status}}</td>
                  <td>{{row.feature.messageAutoShown}}</td>
                  <td>{{row.feature.messageViewedBy}}</td>
                  <td>{{row.feature.featureViewedBy}}</td>
                  <td>{{row.feature.startedBy}}</td>
                  <td>{{row.feature.completedBy}}</td>
                  <td>{{row.feature.dismissedBy}}</td>
                  <td><a ui-sref="admin.featureusage">View</a></td>
               </tr>
            </table>
         </div>   
   </div>   
</div>