div#page-title {
	margin: 140px 15px 40px;
	font-size: 40px;
}

div.action-display .widget-body {
	padding: 0;
}

div .widget {
	box-shadow: 0 1px 1px #BEBEBE;
}

div.action-display .widget div.title {
	padding: 20px 20px 0px 20px;
	font-size: 30px;
	margin: 0;
}

div.action-display .widget div.comment {
	padding: 5px 20px 20px 20px;
	margin: 0;
	font-size: 20px;
	color: #6D7070;
}

div.action-display .widget div.addition-icon {
	padding: 20px;
	border-top: 1px solid #BEBEBE;
	color: #0C80DF;
	font-size: 15px;
}

div.action-display .widget div.addition-icon i:hover {
	color: #0564B4;
	cursor: pointer;
}

.row .table-container {
	margin: 5px 15px 20px 15px;
}
