div#sidebar-wrapper {
	top: 100px;
	background-color: #424242;
}

div#sidebar-wrapper #profile {
	width: 250px;
	height: 140px;
	padding: 0 30px;
	font-size: 30px;
	color: #FFFFFF;
}

div#sidebar-wrapper #profile img,
div#sidebar-wrapper #profile div {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#sidebar-wrapper #profile img {
	height: 100px;
}

div#sidebar-wrapper #profile div {
	text-align: center;
}

ul.sidebar .sidebar-list a {
	font-weight: bold;
	font-size: 18px;
	color: #6D7070;
	padding: 7px 0px;
}

ul.sidebar .sidebar-list a:hover {
	border-left: 3px solid #F38F29;
	color: #FFFFFF;
	background-color: #353535;
}

ul.sidebar .sidebar-main span {
	color: #6D7070;
}
