.ad-button {
	min-height: 40px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	border: none;

	&.ad-orange {
		background-color: #F38F29;
		color: #FFFFFF;
		
		&:hover {
			cursor: pointer;
			background-color: #FDB265;
		}
	}

	&.ad-red {
		background-color: #d9534f;
		color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #ac2925;
		}
	}

	&.ad-blue {
			background-color: #337ab7;
			color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #286090;
		}
	}

	&.ad-color-secondary {
		background-color: #5BAEF4;
			color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #23527C;
		}
	}

	&.ad-sm {
		min-width: 40px;
	}

	&.ad-md {
		min-width: 60px;
	}
}
