@sm-width: 40px;

.addoo-button-container {

	&.addoo-sm {
		width: @sm-width;
		padding: 8px 8px 8px 0;
	}
}

.addoo-button {
	min-height: 40px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	border: none;
	line-height: 1;

	&.addoo-orange {
		background-color: #F38F29;
		color: #FFFFFF;
		
		&:hover {
			cursor: pointer;
			background-color: #FDB265;
		}
	}

	&.addoo-red {
		background-color: #d9534f;
		color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #ac2925;
		}
	}

	&.addoo-blue {
			background-color: #337ab7;
			color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #286090;
		}
	}

	&.addoo-color-secondary {
		background-color: #5BAEF4;
			color: #FFFFFF;

		&:hover {
			cursor: pointer;
			background-color: #23527C;
		}
	}

	&.addoo-sm {
		min-width: @sm-width;
	}

	&.addoo-md {
		min-width: 60px;
	}
}
