.ad-panel-cleared {
	clear: both;
}

.ad-display {
	&.ad-inline-block {
		display: inline-block;
	}
}

.ad-border {
	&.ad-none {
		border: none;
	}

	&.ad-no-bottom {
		border-bottom: none;
	}
}

.ad-shadow {
	box-shadow: 0 1px 1px #BEBEBE;
}