@addoo-dark-gray: #BEBEBE;
@addoo-light-gray: #DFDFDF;

.addoo-icon {

	&.addoo-action {

		&:hover {
			cursor: pointer;
		}

		&.addoo-primary {
			color: #000000;

			&:hover {
				color: @addoo-dark-gray;
			}
		}

		&.addoo-secondary {
			color: @addoo-light-gray;

			&:hover {
				color: @addoo-dark-gray;
			}
		}
	}
}

/** Images **/

.addoo-image {

	&.addoo-circle {
		background-repeat: no-repeat;
		background-position: 50%;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
}
