<div id="client-modal">
<!--     <span us-spinner style="position: center"></span>
 -->    <div class="modal-header" ng-class="priorityStyle">
        <span class="modal-title">
            <img class="client-logo" src="img/logo/products/ShareFile-Black.png"/>
            <p><h3>We need a few more details from you to get your custom training page set up</h3></p>
        </span>
    </div>
    <div class="modal-body">
        <div growl inline="true"></div>
        <p><h5>Enter the information below to get started</h5></p>

        <form role="form" ng-submit="getCustomerTraining() && closeThisDialog('asdasd')">
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Your email address</label>
                    <input type="email" class="form-control" id="email" ng-model="student.local.email">
                </div>
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" ng-model="student.local.firstname">
                </div>
                <div class="form-group">
                    <label for="firstname">Last name</label>
                    <input type="text" class="form-control" id="lastname" ng-model="student.local.lastname">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn client-btn-success" ng-click="closeClientModal()">Close</button>
				<button type="submit" class="btn client-btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
