 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeClientModal()"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" class="client-heading" id="myModalLabel" ng-show="!contactConfirmationMsg">Interested in trying out Document Approval Workflow?</h4>
</div>
<div class="modal-body" ng-show="!contactConfirmationMsg">
    <div class="row">
        <div class="col-md-12">
            <span>We'd love to help you get started using ShareFile workflows with your account.</span>
        </div>            
    </div>    
	<div class="row">
		<div class="col-md-3">
	        <img class="img-circle" src="img/people/customer-success.png" alt="people" width="120px" height="120px"></img>
        </div>
        <div class="col-md-9">
	        <blockquote class="client-blockquote">
	            <p>Click the "Contact Me" button below to let us know that you're interested in beta testing Document Approval Workflow and we'll get back to you soon!.</p>
	        </blockquote>
    	</div>
    </div>

	<p></p>
</div>
<div class="modal-body" ng-show="contactConfirmationMsg">
    <p>We're excited to get you setup. Someone from our team will be in touch soon to help you</p>
</div>
<div class="modal-footer" ng-show="!contactConfirmationMsg">
    <a href="" class="btn btn-primary" ng-click="sendEvent('Cancelled SF Promoted Video Modal');closeClientModal()">Cancel</a>
    <a href="" class="btn btn-primary" ng-click="sendEvent('Interested in SF Promoted Video');requestedContact()">Contact me</a>
</div>
<div class="modal-footer" ng-show="contactConfirmationMsg">
    <a href="" class="btn btn-primary" ng-click="closeClientModal()">Close</a>
</div>
