<div class="page-section profile third">
    <div class="tabbable paper-shadow relative" data-z="0.5">

        <ul class="nav nav-tabs">
            <li><i class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Reset password</span>
                </a>
            </li>
        </ul>		
		<div class="panel panel-default paper-shadow tab-content" ng-show="!invalidcode && !passwordResetSuccess">
			<span>Please enter your new password.</span>
			<div growl inline="true"></div>
			<form class="form" ng-submit="resetpassword()">
				<div class="form-group">
					<input type="password" class="form-control" id="password" placeholder="Enter your new password : jane.doe@example.com" ng-model="password" size="50">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="confirmpassword" placeholder="Confirm password : jane.doe@example.com" ng-model="confirmpassword" size="50">
				</div>
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-warning">Reset</button>
				</div>
			  	<br>
			</form>
		</div>
		<div class="panel panel-default paper-shadow tab-content" ng-show="invalidcode">
			<span>The password reset url is not valid. Please try forgot password option again!</span>
		</div>
		<div class="panel panel-default paper-shadow tab-content" ng-show="passwordResetSuccess">
			<span><h4>Password reset successfully. Please click <a href="https://app.addoo.io">here to login</a><h4></span>
		</div>
    </div>
</div>